<h1>Editing movie</h1>

<%= render :partial => 'form', :locals => { :movie => @movie, :url => admin_movies_path, :button_label => "Update" } %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', admin_movies_path %>